[submodule "themes/hugograyscale"]
	path = themes/hugograyscale
	url = https://github.com/runningstream/hugograyscale/
[submodule "themes/somrat"]
	path = themes/somrat
	url = https://github.com/Likewind/somrat/
